* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: black; /* Ensures a dark background */
}

.video-container {
    position: fixed; /* Fullscreen fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; /* Ensures video is at the bottom */
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.video.visible {
    opacity: 1;  /* Make the video visible */
}

.video iframe {
    width: 100%;  /* Full width of the video container */
    height: 100%; /* Full height of the video container */
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.center-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;  /* Ensure buttons appear above the video */
}

.button {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    z-index: 1; /* Ensure footer is above video */
}
